.container {
  max-width: 1010px;
  margin: 30px auto;

  .titleButton {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-weight: 600;
    font-size: 26px;
  }

  .packTable {
    margin-top: 24px;
    //.tableRows {
    //  cursor: grab;
    //  position: relative;
    //  &::before {
    //    position: absolute;
    //    content: '';
    //    background: #FF3535;
    //    border: 2px solid #FF3535;
    //    top: -30px;
    //    width: 150px;
    //  }
    //}
  }

  .pagination {
    margin-top: 36px;
  }
}
