.profileWrapper {
    width: 413px;
    height: 100%;
    margin: 0 auto;

    padding: 35px;

    background: #ffffff;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}

.editableName {
    padding: 15px;
}
