.navLink {
  font-size: large;
  color: black;
  text-align: left;
  text-decoration: unset;
  display: inline-block;
  margin: 24px 0 0 0;
padding-left: 19%;
  .arrow {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }


  .back {
    margin: 0 auto;
  }
}