.container {
  display: flex;
  align-items: baseline;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;

  span {
    margin-right: 5px;
  }

  button{
    font-weight: inherit;
    font-size: inherit;
  }

  div {
    margin-right: 5px;
    font-weight: inherit;
    font-size: inherit;
  }

}


