.default, .disabled {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: rgba(54, 110, 255, 1);
    font-size: 18px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
    margin: 20px;
}

.default:hover {
    background-color: #0e45f8;
}

.disabled {
    background: #7b7b7b;
}