.loginInputFormCheckbox {
    width: 100%;
    text-align: start;
}

.loginButtonForgot {
    text-align: end;
    margin: 20px 0;
}

.loginWrapper h2 {
    text-align: center;
}

.loginFooter {
    text-align: center;
}

.warningPassword {
    font-size: 12px;
    text-align: center;
    color: #9a4d4d;
}
