.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    border: none;
    background: none;
    cursor: pointer;
  }
}

.line {
  color: rgb(227, 216, 216);
  background-color: rgb(227, 216, 216);
  height: 1px;
  border: none;

}

.footer {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;

  button {
    width: 30%;
  }
}